.introSection {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--secondary-dark);

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem auto;

    border-radius: 1rem;

    font-family: var(--font-family-roboto);

    width: 60vw;
}

.subTitle {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;

    color: var(--primary);

    margin-top: 1rem;
}

.introText {
    font-size: 1.1rem;
    font-weight: normal;
    font-style: normal;

    color: var(--tertiary-dark);

    margin-top: .5rem;
    margin-bottom: 1rem;

    text-align: center;

    width: 80%;
    line-height: 1.5rem;
}

.fundraiserListing {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-around;
    color: black;
}

.fundraiserListingEven {
    flex-direction: row;
    background-color: #e2e8f0;
}

.fundraiserListingOdd {
    flex-direction: row-reverse;
}

.fundraiserTextContainer {
    flex-basis: 50%;
}

.fundraiserTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family-rubik);
}

.fundraiserDescription {
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 4px;
    font-family: var(--font-family-roboto);
}

.fundraiserImageContainer {
    position: relative;
    height: 300px;
    margin: 0 30px;
}

.fundraiserImage {
    object-fit: contain;
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 1800px) {
    .fundraiserTextContainer {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .fundraiserListing {
        flex-direction: column;
        
    }

    .fundraiserDescription {
        margin: 15px 0;
    }
}

@media screen and (max-width: 1024px) {
    .introSection {
        width: 80vw;

        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .subTitle {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .introSection {
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {
    .fundraiserListing {
        padding: 30px 10px;
    }

    .fundraiserImageContainer {
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .fundraiserImageContainer {
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .fundraiserImageContainer {
        height: 150px;
    }
}
