.banner {
    width: 100vw;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerBackground {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(80%)
}

.bannerContent {
    position: relative;
    font-family: var(--font-family-rubik);
    text-align: center;
    text-shadow: 1px 1px 2px black;
    border-radius: 50%;

    color: white;
}

.bannerTitle {
    font-size: 70px;
}

.bannerDescription {
    font-size: 30px;
}

.contentContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 -20px 10px 10px white;

    color: var(--tertiary-dark);
}

.noShadow {
    box-shadow: none;
}

.textSection {
    flex-basis: 55%;
    margin-right: 20px;
}

.contentTitle {
    display: block;
    font-family: var(--font-family-rubik);
    font-size: 40px;
    padding-bottom: 15px;
}

.contentDescription {
    font-family: var(--font-family-roboto);
    font-size: 20px;

    line-height: 1.75rem;
}

.button {
    display: block;

    width: 100%;

    border: none;
    border-radius: 0.35rem;

    background-color: var(--primary);
    color: var(--secondary);

    font-family: var(--font-family-roboto);
    font-size: 1.25rem;
    font-weight: 500;

    padding: 0.5rem;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-dark);

    /* add a light black shadow on the bottom of the button */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.statistics {
    position: relative;
    /* flex-basis: 50%; */


    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
    align-items: flex-end;

    gap: 2rem;
}

.statistics > .statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 0.75rem;
}

.statistics > .statistic > svg {
    height: 3rem;
    width: 3rem;

    fill: var(--primary);
}

.statistics > .statistic > h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-family-rubik);
}

.donateButton {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 1rem;
}

.donateButton > a {
    width: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paddingTop {
    padding-top: 2rem;
}

.paddingBottom {
    padding-bottom: 1rem;
}

.flexColumn {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .bannerTitle {
        font-size: 50px;
    }
    
    .bannerDescription {
        font-size: 30px;
    }

    .contentContainer {
        flex-direction: column;
        height: auto;
    }

    .statistics {
        align-items: center;

        padding-bottom: 1rem;
    }

    .textSection {
        margin-right: 0;
    }

    .contentTitle {
        text-align: center;
        margin-top: 20px;
    }

    .donateButton > a {
        width: 100%;
    }

    .imageContainer {
        margin-top: 20px;
        flex-basis: none;
    }
}

@media screen and (max-width: 500px) {
    .contentContainer {
        padding: 10px 20px;
    }

    .contentTitle {
        font-size: 30px;
    }

    .statistics > .statistic > h2 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 450px) {

    .banner {
        height: 400px;
    }

    .bannerTitle {
        font-size: 40px;
    }
    
    .bannerDescription {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {

    .statistics > .statistic > h2 {
        font-size: 1rem;
    }
}