.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    font-family: var(--font-family-roboto);
}

.section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--secondary-dark);

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    border-radius: 1rem;
    margin-top: 2rem;

    width: 60vw;
}

.subTitle {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;

    color: var(--primary);

    margin-top: 1rem;
}

.text {
    font-size: 1.1rem;
    font-weight: normal;
    font-style: normal;

    color: var(--tertiary-dark);

    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: center;

    width: 80%;
}

.teamContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: center;
    justify-content: center;

    margin-top: 1rem;

    max-width: 70vw;
}

@media screen and (max-width: 1024px) {
    .section {
        width: 80vw;

        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .teamContainer {
        max-width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .section {
        width: 90vw;
    }

    .teamContainer {
        max-width: 90vw;
    }
}