.heading {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    justify-content: space-around;
    align-items: center;

    gap: 1rem;

}

.titleContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.title {
    font-family: var(--font-family-rubik);
    font-size: 3rem;
    font-weight: 700;
    color: var(--tertiary);
}

.subtitle {
    font-family: var(--font-family-roboto);
    font-size: 1.5rem;
    font-weight: 500;
    color: gray;
}

.viewFundraiser {
    font-family: var(--font-family-roboto);
    font-size: 1.25rem;
    font-weight: 600;

    color: var(--primary);

    margin-top: 1rem;

    cursor: pointer;
}

.viewFundraiser > .arrows {
    font-weight: 600;

    padding-left: 0.75rem;
}

.imageContainer {
    width: 42%;
    height: 100%;
}

.introduction {
    display: flex;
    flex-direction: row;

    /* min-height: 33vh;
    height: auto; */

    align-items: center;
    margin-top: 1.5rem;
}

.learnMoreSection {
    background-color: var(--primary);
    padding: 1rem;
    padding-left: 2rem;
    
    border-radius: 1rem;

    width: 60%;
    height: 100%;

    border-bottom: 0.25rem solid var(--primary-dark);
}

.learnMoreSection > h3 {
    font-size: 2.5rem;

    font-family: var(--font-family-rubik);
    font-weight: 500;
    color: var(--secondary);
}

.learnMoreSection > p {
    font-size: 1.1rem;

    font-family: var(--font-family-roboto);
    font-weight: 400;
    color: var(--secondary);

    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.statisticsSection {
    display: flex;
    flex-direction: column;

    padding-left: 1.5rem;

    width: 40%;
    height: 100%;
    
    gap: 1rem;
    
}

.statisticsSection > .statistic {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
}

.statisticsSection > .statistic > .info > .number {
    font-size: 2.5rem;

    font-family: var(--font-family-rubik);
    font-weight: 600;
    color: var(--tertiary);
}

.statisticsSection > .statistic > .info > .text {
    font-size: 1.25rem;

    font-family: var(--font-family-roboto);
    font-weight: 500;
    color: var(--tertiary-dark);
}

.statisticsSection > .statistic > .icon {
    width: 4rem;
    height: 4rem;

    margin-right: 1rem;
}

#iconColor {
    fill: var(--tertiary-dark);
}

.moreAboutSection {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}

.moreAbout {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    margin-top: 8vh;
    margin-bottom: 2rem;

    gap: 1rem;

    justify-content: space-around;
    align-items: center;

    background-color: var(--secondary-dark);
    border-radius: 1rem;

    border-bottom: 0.25rem solid var(--tertiary);

}

.moreAbout > .moreAboutText {
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 1rem;
    padding-left: 2rem;
}

.moreAbout > .moreAboutText > h3 {
    font-size: 2rem;

    font-family: var(--font-family-rubik);
    font-weight: 600;
    color: var(--primary);
}

.moreAbout > .moreAboutText > p {
    font-size: 1.25rem;

    font-family: var(--font-family-roboto);
    font-weight: 400;
    color: var(--tertiary-dark);

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.moreAbout > .moreAboutImage {
    width: 25%;
    height: 100%;

    padding: 1rem;
}


@media screen and (max-width: 1280px) {
    .imageContainer {
        width: 45%;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .introduction {
        flex-direction: column-reverse;
    }

    .learnMoreSection {
        width: 100%;
    }

    .statisticsSection {
        width: 100%;

        flex-direction: row;
        justify-content: space-around;

        padding-left: 0rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .statisticsSection > .statistic {
        align-items: center;
    }

    .statisticsSection > .statistic > .info > .number {
        font-size: 2rem;
    }

    .statisticsSection > .statistic > .info > .text {
        font-size: 1rem;
    }

    .statisticsSection > .statistic > .icon {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .imageContainer {
        width: 55%;
    }

    .title {
        font-size: 2.25rem;
    }

    .subtitle {
        font-size: 1.125rem;
    }

    .statisticsSection > .statistic {
        align-items: center;
    }

    .statisticsSection > .statistic > .info > .number {
        font-size: 1.5rem;
    }

    .statisticsSection > .statistic > .info > .text {
        font-size: .9rem;
    }

    .statisticsSection > .statistic > .icon {
        width: 3rem;
        height: 3rem;
    }

    .moreAbout {
        flex-direction: column;

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .moreAbout > .moreAboutText {
        width: 100%;
        height: 50%;

        padding: 1rem;
    }

    .moreAbout > .moreAboutImage {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        flex-direction: column-reverse;

        align-items: center;
        justify-content: center;
        gap: 1rem;

        padding: 0rem;
        padding-right: .5rem;
        padding-left: .5rem;

        height: 70vh;
    }

    .imageContainer {
        width: 70%;
        height: 50%;
    }

    .button {
        width: 100%;
    }

    .learnMoreSection {
        width: 90%;

        padding: 1rem;
    }

    .statisticsSection {
        width: 90%;
        flex-direction: column;

        padding-left: .5rem;

        gap: 1.5rem;
    }

    .statisticsSection > .statistic {
        align-items: center;
    }

    .statisticsSection > .statistic > .info > .number {
        font-size: 2.25rem;
    }

    .statisticsSection > .statistic > .info > .text {
        font-size: 1.25rem;
    }

    .statisticsSection > .statistic > .icon {
        width: 4rem;
        height: 4rem;
    }

    .moreAbout {
        width: 90%;
    }

    .moreAbout > .moreAboutImage {
        width: 60%;

        padding: 0rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .imageContainer {
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .moreAbout > .moreAboutImage {
        width: 80%;
    }

}