.nav {
    background-color: var(--primary);

    width: 100%;
    height: 8.5vh;

    position: fixed;

    z-index: 999;

    top: 0;
    left: 0;
    right: 0;

    border-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary-dark);

    font-family: var(--font-family-rubik);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15%;
    padding-right: 15%;

}

.firstNavSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    position: relative;

    height: 100%;
    width: 7vh;
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .25rem;

    cursor: pointer;
}

.logoWrapper:hover .fill {
    fill: var(--primary-light);
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.title {
    color: var(--secondary);
    font-weight: normal;
}

.title:hover {
    cursor: pointer;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    list-style: none;
    transition: all 0.1s ease-in-out;
}

.item {
    padding: 0 1rem;

    color: var(--primary-light);

    font-size: 1.05rem;

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;

    transition: all 0.1s ease-in-out;
}

.itemText {
    color: var(--secondary);

    line-height: 1.5rem;
}

.item:hover {
    padding-top: 5px;

    color: var(--primary-dark);
}

.placeholder {
    width: 100%;
    min-height: 8.5vh;
    height: 8.5vh;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    z-index: 998;
}

.expand {
    border: 2px solid var(--secondary);
    border-radius: 15%;

    height: 6vh;
    width: 7vh;

    font-size: .5rem;
    color: var(--secondary);

    display: none;
    justify-content: center;
    align-items: center;

    transform: rotate(0deg);
    
    transition: all 0.1s ease-in-out;
}

.expand:hover {
    cursor: pointer;
}

.expandIcon {
    height: 75%;
    width:  75%;
}

.rotate {
    transform: rotate(90deg);
}

.fill {
    fill: var(--secondary);

    transition: all 0.35s ease-in-out;
}

@media screen and (max-width: 1305px) {
    .nav {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 2.5%;
        padding-right: 4.5%;

        border-bottom: none;
    }

    .logoWrapper {
        margin-right: 5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 8.5%;
        left: 0;
        right: 0;

        background-color: var(--primary);
        border-bottom: 6px;
        border-bottom-style: solid;
        border-bottom-color: var(--primary-dark);

        z-index: 999;

        height: 0;
        overflow: hidden;
    }

    .item {
        padding: .5rem 0;
    }

    .titleWrapper {
        padding: 0;
    }

    .expand {
        display: flex;
    }
}