.card {
    /* background-color: var(--primary-light); */

    min-height: 300px;
    height: 300px;

    min-width: 200px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.image {
    max-width: 160px;
    width: 160px;

    max-height: 160px;
    height: 160px;

    border-radius: 50%;

    /* image cover */
    object-fit: cover;
}

.name {
    font-family: var(--font-family-roboto);
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;

    color: var(--tertiary-dark);

    margin-top: .75rem;
}

.position {
    font-family: var(--font-family-roboto);
    font-size: 1.05rem;
    font-weight: normal;
    font-style: normal;

    color: var(--tertiary-dark);

    margin-top: -.1rem;
}

.description {
    font-family: var(--font-family-roboto);
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;

    color: var(--tertiary-darker);

    margin-top: .35rem;
    margin-bottom: .5rem;

    width: 90%;

    text-align: center;
}